name: CI

on:
  push:
    branches-ignore: [ release ]
    tags-ignore: [ v* ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm ci # Install dependencies.
      - run: npm run ci # Execute CI scripts.
      - run: git diff --exit-code # Fail if CI scripts make any source changes.

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - run: npm ci # Install dependencies.
      - run: npm run build # Build javascript.
      - run: npm run package # Build action package.
      - uses: ./
        with: # Exercise custom inputs.
          version: 3.5.8
          arguments: '--list .github/workflows/ci/Good.scala'

  release:
    if: github.ref == 'refs/heads/main'
    needs: [ build, test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: configure git
        run: |
          git config --global user.name jrouly
          git config --global user.email michel@rouly.net
      - name: recreate release branch
        run: |
          git checkout release
          git reset --hard main
      - name: create release package
        run: |
          npm ci
          npm run build
          npm run package
      - name: commit and push release package
        run: |
          git add -f lib dist
          git commit -m "release package"
          git push -f origin release
