name: Release

on:
  release:
    types: [ created ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - run: npm ci # Install dependencies.
      - run: npm run build # Build javascript.
      - run: npm run package # Build action package.
      - uses: ./
        with: # Exercise custom inputs.
          version: 3.5.8
          arguments: '--version'
